.players{
    min-height: 100vh;
    color: white;
    background-color: #221F26;
    padding: 20px 18px 0px 18px;
}

.players__list {
  list-style: none;
  margin: 0px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.players__card {
   width: 100%;
   background-color: #39363D;
   padding: 20px;
   margin-bottom: 30px;
   border-radius: 10px;
   box-shadow: 0 4px 6px -2px rgba(5, 5, 5, 0.2);
}

.players__card-option-value{
    display: flex;
    align-items: center;
}

.players__card-header{
    display: flex;
    padding-bottom: 16px;
}

.players__card-header-text{
    display: flex;
    flex-direction: column;
}

.players__card-name{
    margin: 0;
    font-size: 20px;
}

.players__card-bio{
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 16px;
    margin-top: 10px;
}

.players__card-img{
    width: 90px;
    height: 90px;
    min-width: 60px;
    border-radius: 10px;
    margin-right: 10px;
    object-fit: cover;
    flex-shrink: 0;   
}

.players__card-options{
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.players__card-option{
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.342);
}

.players__card-option:last-child {
    border-bottom: none;
}

.players__card-option-img{
    width: 35px;
    height: 35px;
    margin-right: 10px;
    border-radius: 2px;
}

.players__card-option-icon{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    cursor: pointer;
}


.players__card-option-link {
    color: #5865F2; /* Discord's brand color */
    text-decoration: underline;
  }
  
  .players__card-option-link:hover {
    color: #7289DA;
  }

  .players__card-option-text{
    margin-right: 4px;
    }

    .players__header{
        padding-top: 100px;
        max-width: 1400px;
        margin-bottom: 80px;
    }

    .players__header-title{
        font-size: 30px;
    }

    .players__header-subtitle{
        font-size: 20px;
        font-weight: normal;
    }


/* Responsive styling for larger screens */
@media (min-width: 768px) {
    .players__header{
        padding-top: 0px;
    }
    .players__header-title{
        font-size: 40px;
    }

    .players__header-subtitle{
        font-size: 24px;
        font-weight: normal;
    }

    .players{
        height: 100vh;
        color: white;
        background-color: #221F26;
        padding: 100px 70px 0px 70px;
    }

    .players__card-img{           
        min-width: 90px;
        border-radius: 10px;
        margin-right: 10px;
        object-fit: cover;
    }

    .players__card-option-img{
        width: 40px;
        height: 40px;
    }

    .players__card-option-text{
        font-size: 20px;
    }

    .players__list {
        width: 100%;
        margin: 0px;
        flex-direction: row;
    }

    .players__card {
        max-width: 500px;
        margin-right: 40px;
     }

     .player__card:last-child{
        margin-right: 0px;
     }

     .players__card-name{
        font-size: 30px;
    }
}