

.chat-sidebar{
    position: fixed;
    height: 100vh;
    right: -100%;
    top: 0px;
    width: 100%;
    max-width: 300px;
    background-color: #221F26;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    z-index: 20;
    transition: right 0.3s ease;
    font-size: 16px;
    padding-top: 60px;
    color: #F0F0F0;
}


.chat-sidebar__list{
    list-style: none;
    padding: 0px;
    margin: 0;
}

.chat-sidebar__item{
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.chat-sidebar__item:hover{
    background-color: #4e4b52;
}

.chat-sidebar__item-title{
    padding: 0;
    margin: 0px 10px 0px 6px;
}

.chat-sidebar__item-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.chat-sidebar__item .user-default-image{
    width: 40px;
    height: 40px;
    font-size: 18px;
}

.chat-sidebar__notification-circle{
    width: 10px;
    height: 10px;
    background-color: #FF4D4D;
    border-radius: 50%;
    box-shadow: 0px 0px 4px rgba(255, 77, 77, 0.6), 
    inset 0px 0px 2px rgba(0, 0, 0, 0.3);
}

.chats{
    position: fixed;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    width: 100%;

}

.chats > * {
    position: relative;
    z-index: 100; 
}

.chat-item{
    width: 100%;
    background-color: #221F26;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    color: #F0F0F0;
    font-size: 14px;
    overflow: hidden;
    transition: height 0.3s ease;
}

.chat-item--hidden{
    height: 50px;
}

.chat-item__header{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    padding: 0 10px 0px 10px;
    cursor: pointer;
    position: relative;
}

.chat-item__header-left{
    display: flex;
    align-items: center;
}

.chat-item__header-close{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-item__header-close:hover{
    background-color: #4e4b52;
}


.chat-item__header .user-default-image{
    width: 30px;
    height: 30px;
    font-size: 16px;
    margin-right: 6px;
}

.chat-item__body{
    background-color: white;
    height: 300px;
    padding: 10px 0px 0px 10px;
    margin: 0;
    background-color: #39363D;
    list-style: none;
    overflow: overlay;
}

.chat-item__form{
    display: flex;
}


.chat-item__form input{
    width: 100%;
    padding: 4px;
    border: none;
    outline: none;
}

.chat-item__form .custom-button:hover{
    transition: none;
    transform: none;
}


.chat-sidebar.chat-sidebar--active{
    right: 0;
}

.chat-item__message{
    padding-bottom: 10px;
}

.chat-item__header-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.chat-item__message-header{
    display: flex;
    align-items: center;
}

.chat-item__message-image{
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 50%;
}

.chat-item__header-title{
    margin-left: 5px;
}

.chat-item__message-header .user-default-image{
    width: 30px;
    height: 30px;
    font-size: 16px;
    padding: 0;
    margin: 0;
}


.chat-item__message-text{
    margin: 0;
    padding: 0px 0px 0px 39px;
}

.chat-item__message-user-name{
    margin-left: 5px;
    font-weight: bold;
}

@media (min-width: 769px) {

    .chats{
        position: fixed;
        bottom: 0px;
        right: 310px;
        display: flex;
        justify-content: flex-end;
        z-index: 100;
    
    }
    
    .chat-item{
        width: 300px;
        background-color: #221F26;
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
        color: #F0F0F0;
        font-size: 14px;
        overflow: hidden;
        transition: height 0.3s ease;
    }
}