.servers{
    min-height: 100vh;
    color: #F0F0F0;
    background-color: #221F26;
    padding-top: 80px;
}

.servers__about-header h1 {
    font-size: 30px;
}

.servers__about-text {
    font-size: 20px;
}

.servers__about{
    padding: 0px 30px 0px 30px;
}

.servers__about-button-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.servers__about-button-container .custom-button{
    width: 100%;
    max-width: 300px;
    font-size: 18px;
    padding: 20px 6px 20px 6px;
    margin-top: 50px;
}

@media (min-width: 1050px) {
    .servers__about-button-container{
        display: block;
    }

    .servers__about-button-container .custom-button{
        padding: 20px 10px 20px 10px;
    }
    .servers__about-header h1 {
        font-size: 40px;
    }
    
    .servers__about-text {
        font-size: 24px;
    }

    .servers__about{
        display: flex;
        min-height: 500px;
        padding: 0px 0px 0px 30px;
    }

    .servers__about-left{
        width: 40%;
        padding-right: 30px;
        min-width: 550px;
    }

    .servers__about-right{
        position: relative;
        width: 60%;
        background-image: url('../../assets/minecraftServers.webp');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .servers__about-right::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 1;
    }
}
