.nav {
  background-color: #39363D;
  padding: 10px;
  width: 100%;
}

.nav__content {
  display: flex;
  align-items: center;
}

/* Logo Styling */
.logo img {
  object-fit: cover;
  width: 60px;
  height: 60px; /* Adjust based on your logo size */
}

/* Navigation Links */
.nav__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav__links li {
  margin: 0;
}

.nav__links a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

@media (min-width: 768px) {

    .nav__links a {
        text-decoration: none;
        color: white;
        font-size: 20px;
      }
}